<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Module name="BSP" id="B588CB7D-61DC-47D2-AED3-83225E3F62C8" version="1.0.0" type="bsp">
	<ConfigRoot path="config/module.py"/>
	<AutoLoad>
		<ID>bsp_default</ID>
	</AutoLoad>
	<Boards>
		<Board name="SAM E70 Xplained Pro">
			<processor>PIC32CZ2038CA70144</processor>
			<config>e70xp.py</config>
		</Board>
		<Board name="SAM E70 Xplained Ultra">
			<processor>PIC32CZ2038CA70144</processor>
			<config>e70xu.py</config>
		</Board>
	</Boards>
</Module>
