<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Module name="BSP" id="B588CB7D-61DC-47D2-AED3-83225E3F62C8" version="3.8.0" type="bsp">
    <ConfigRoot path="config/module.py"/>
    <Boards>
        <Board name="PIC32CM JH Curiosity Pro" processor="PIC32CM5164JH01100" config="pic32cm_jh01_curiosity_pro"/>
        <Board name="PIC32CM LE00 Curiosity Pro" processor="PIC32CM5164LE00100" config="pic32cm_le00_curiosity_pro"/>
        <Board name="PIC32CM LS00 Curiosity Pro" processor="PIC32CM5164LS00100" config="pic32cm_ls00_curiosity_pro"/>
        <Board name="PIC32CM LS60 Curiosity Pro" processor="PIC32CM5164LS60100" config="pic32cm_ls60_curiosity_pro"/>
        <Board name="PIC32CM MC Curiosity Pro" processor="PIC32CM1216MC00048" config="pic32cm_mc00_curiosity_pro"/>
        <Board name="PIC32CX BZ2 Curiosity" processor="PIC32CX1012BZ25048" config="pic32cx_bz2_curiosity"/>
        <Board name="WBZ451 Curiosity" processor="WBZ451" config="wbz451_curiosity"/>
        <Board name="WBZ450 Curiosity" processor="WBZ450" config="wbz450_curiosity"/>
        <Board name="PIC32Z CA90 Curiosity Ultra" processor="PIC32CZ8110CA90208" config="pic32cz_ca90_curiosity_ultra"/>
        <Board name="PIC32MM Curiosity" processor="PIC32MM0064GPL036" config="pic32mm_curiosity"/>
        <Board name="PIC32MM USB Curiosity" processor="PIC32MM0256GPM064" config="pic32mm_usb_curiosity"/>
        <Board name="PIC32MX274 XLP Starter Kit" processor="PIC32MX274F256D" config="pic32mx_xlp_sk"/>
        <Board name="PIC32MX1/2/5 Starter Kit" processor="PIC32MX570F512L" config="pic32mx_125_sk"/>
        <Board name="PIC32MX1XX/2XX Starter Kit" processor="PIC32MX250F128D" config="pic32mx_12_sk"/>
        <Board name="PIC32MX USB Starter Kit III" processor="PIC32MX450F256L" config="pic32mx_usb_sk3"/>
        <Board name="PIC32MX Ethernet Starter Kit II" processor="PIC32MX795F512L" config="pic32mx_eth_sk2"/>
        <Board name="PIC32MX Starter Kit" processor="PIC32MX360F512L" config="pic32mx_sk"/>
        <Board name="PIC32MX Bluetooth Audio Development Kit" processor="PIC32MX270F512L" config="pic32mx_btadk"/>
        <Board name="PIC32MX Bluetooth Audio Development Kit" processor="PIC32MX470F512L" config="pic32mx_btadk"/>
        <Board name="PIC32MX BM83 Bluetooth Audio Development Board" processor="PIC32MX270F512L" config="pic32mx_bm83_evb"/>
        <Board name="PIC32MX BM83 Bluetooth Audio Development Board" processor="PIC32MX450F256L" config="pic32mx_bm83_evb"/>
        <Board name="PIC32MZ EF Bluetooth Audio Development Kit" processor="PIC32MZ2048EFH144" config="pic32mz_ef_btadk"/>
        <Board name="PIC32MK GP Development Kit" processor="PIC32MK1024GPE100" config="pic32mk_gp_db"/>
        <Board name="PIC32MK MCJ Curiosity Pro" processor="PIC32MK0512MCJ064" config="pic32mk_mcj_curiosity_pro"/>
        <Board name="PIC32MK MCM Curiosity Pro" processor="PIC32MK1024MCM100" config="pic32mk_mcm_curiosity_pro"/>
        <Board name="PIC32MX470 Curiosity Development Board" processor="PIC32MX470F512H" config="pic32mx470_curiosity"/>
        <Board name="PIC32MZ DA Starter Kit" processor="PIC32MZ2064DAG169" config="pic32mz_da_sk"/>
        <Board name="PIC32MZ DA Starter Kit" processor="PIC32MZ2064DAH169" config="pic32mz_da_sk"/>
        <Board name="PIC32MZ DA Starter Kit" processor="PIC32MZ2064DAR169" config="pic32mz_da_sk"/>
        <Board name="PIC32MZ DA Starter Kit" processor="PIC32MZ2064DAS169" config="pic32mz_da_sk"/>
        <Board name="PIC32MZ DA Starter Kit" processor="PIC32MZ2064DAA288" config="pic32mz_da_sk"/>
        <Board name="PIC32MZ DA Starter Kit" processor="PIC32MZ2064DAB288" config="pic32mz_da_sk"/>
        <Board name="PIC32MZ DA Curiosity" processor="PIC32MZ2064DAR176" config="pic32mz_da_curiosity"/>
        <Board name="PIC32MZ DA Radial Board" processor="PIC32MZ2064DAS176" config="pic32mz_da_radial_board"/>
        <Board name="PIC32MZ EF Starter Kit" processor="PIC32MZ2048EFH144" config="pic32mz_ef_sk"/>
        <Board name="PIC32MZ EF Starter Kit" processor="PIC32MZ2048EFM144" config="pic32mz_ef_sk"/>
        <Board name="PIC32MZ EF Curiosity 2.0" processor="PIC32MZ2048EFM144" config="pic32mz_ef_curiosity_v2"/>
        <Board name="PIC32MZ W1 Curiosity" processor="PIC32MZ1025W104132" config="pic32mz_w1_curiosity"/>
        <Board name="PIC32MZ W1 Curiosity" processor="WFI32E01" config="wfi32e_curiosity"/>
        <Board name="PIC32MZ W1 WFI32IoT" processor="PIC32MZ1025W104132" config="pic32mz_w1_wfiiot"/>
        <Board name="PIC32MZ W1 WFI32IoT" processor="WFI32E01" config="wfi32e_iot"/>
        <Board name="SAM 9X60 Evaluation Kit" processor="SAM9X60" config="sam_9x60_ek"/>
        <Board name="SAM A5D2 Xplained Ultra" processor="ATSAMA5D27" config="sam_a5d2_xult"/>
        <Board name="SAM A5D27 SOM1 Kit1" processor="ATSAMA5D27CD1G" config="sam_a5d27_som1_ek"/>
        <Board name="SAM A5D27 WLSOM1 Kit1" processor="ATSAMA5D27CLD2G" config="sam_a5d27_wlsom1_ek1"/>
        <Board name="SAM A7G5 Evaluation Kit" processor="SAMA7G54" config="sam_a7g5_ek"/>
        <Board name="SAM C21 Xplained Pro" processor="ATSAMC21J18A" config="sam_c21_xpro"/>
        <Board name="SAM C21N Xplained Pro" processor="ATSAMC21N18A" config="sam_c21n_xpro"/>
        <Board name="SAM D10 Xplained Mini" processor="ATSAMD10D14AM" config="sam_d10_xmini"/>
        <Board name="SAM D11 Xplained Pro" processor="ATSAMD11D14AM" config="sam_d11_xpro"/>
        <Board name="SAM D20 Xplained Pro" processor="ATSAMD20J18" config="sam_d20_xpro"/>
        <Board name="SAM D21 Xplained Pro" processor="ATSAMD21J18A" config="sam_d21_xpro"/>
        <Board name="SAM D21 Curiosity Nano" processor="ATSAMD21G17D" config="sam_d21_cnano"/>
        <Board name="SAM DA1 Xplained Pro" processor="ATSAMDA1J16B" config="sam_da1_xpro"/>
        <Board name="SAM L10 Xplained Pro" processor="ATSAML10E16A" config="sam_l10_xpro"/>
        <Board name="SAM L11 Xplained Pro" processor="ATSAML11E16A" config="sam_l11_xpro"/>
        <Board name="SAM E54 Xplained Pro" processor="ATSAME54P20A" config="sam_e54_xpro"/>
        <Board name="SAM G55 Xplained Pro" processor="ATSAMG55J19" config="sam_g55_xpro"/>
        <Board name="SAM E54 Curiosity Ultra" processor="ATSAME54P20A" config="sam_e54_cult"/>
        <Board name="SAM E70 Xplained" processor="ATSAME70Q21B" config="sam_e70_xpld"/>
        <Board name="SAM E70 Xplained Ultra" processor="ATSAME70Q21B" config="sam_e70_xult"/>
        <Board name="SAM HA1 Xplained Pro" processor="ATSAMHA1G16AB" config="sam_ha1_xpro"/>
        <Board name="SAM L21 Xplained Pro" processor="ATSAML21J18B" config="sam_l21_xpro"/>
        <Board name="SAM L22 Xplained Pro" processor="ATSAML22N18A" config="sam_l22_xpro"/>
        <Board name="SAM RH71 Evaluation Kit" processor="ATSAMRH71F20C" config="sam_rh71_ek"/>
        <Board name="SAM V71 Xplained Ultra" processor="ATSAMV71Q21B" config="sam_v71_xult"/>
        <Board name="SAM R34 Xplained Pro" processor="ATSAMR34J18B" config="sam_r34_xpro"/>
        <Board name="WLR089 Xplained Pro" processor="WLR089U0" config="wlr089_xpro"/>
        <Board name="SAM E51 Curiosity Nano" processor="ATSAME51J20A" config="sam_e51_cnano"/>
        <Board name="SAM-IoT WG Development Board" processor="ATSAMD21G18A" config="sam_d21_iot"/>
        <Board name="PIC32CM MC00 Curiosity Nano" processor="PIC32CM1216MC00032" config="pic32cm_mc00_cnano"/>
        <Board name="PL360G55CB Evaluation Kit" processor="ATSAMG55J19" config="pl360g55cb_ek"/>
    </Boards>
</Module>
